.App {
  text-align: center;
  margin-top: 50px;
  padding: 0 20px; /* Ensure padding for smaller screens */
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  width: 80%; /* Make input take up most of the screen on mobile */
  max-width: 300px; /* Limit maximum width on larger screens */
}

label {
  font-weight: bold;
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px; /* Reduce title size on small screens */
  }

  input {
    width: 90%; /* Take up more width on very small screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
